:root {
  --system-ui: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --vertical-navbar-width: clamp(200px, 50vw, 302.16px);
  --horizontal-navbar-height: 8.5rem;

  --background-color: rgb(221, 221, 221);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting up default font, font size and background color */
html {
  font-family: var(--system-ui);
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  background-color: rgb(209, 209, 209);
}

/* Divides the page between the left navbar and the right area */
.overall-grid-container {
  display: grid;
  /* The size is equal to the size of the vertical navbar, it also is responsive with it */
  grid-template-columns: var(--vertical-navbar-width) repeat(3, 1fr);
  grid-template-rows: var(--horizontal-navbar-height) repeat(3, 1fr);

  height: 100vh;
}

/* Sets flex for navbar on the left */
.flex-navbar-ver {
  display: flex;
  font-weight: 500;
  color: white;
  background-color: rgb(90, 90, 182);

  height: 100%;
  width: var(--vertical-navbar-width);
  min-width: 200px;
  padding: 30px;
  padding-top: 20px;
  /* This decreases the padding on the right to almost nonexistant when resized */
  padding-right: clamp(10px, 9vw, 60px);

  grid-row: 1 / 5;
}

/* Remove default link and list styling */
.flex-navbar-ver a,
ul {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

/* Change the default padding bottom set up and give title bigger font size */
.flex-navbar-ver .title {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

/* Making the logo bigger and position it properly*/
.title .logo {
  font-size: 1.8rem;
  bottom: -7px;
}

.flex-navbar-ver li {
  padding-bottom: 15px;
}

/* bottom is needed otherwise they float a bit */
.material-icons {
  position: relative;
  bottom: -3px;
  margin-right: 10px;
}

/* The white nav bar on top */
.flex-navbar-hor {
  display: grid;
  position: relative;
  background-color: white;
  height: var(--horizontal-navbar-height);
  flex-grow: 1;

  box-shadow: 0px 3px 20px rgb(78, 78, 78);

  /* These are settings for the grid within the navbar */
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 70% 30%;

  /* These are for the overall one */
  grid-column: 2 / 5;
}

.dash-body {
  display: grid;
  grid-template-columns: 80% 1fr;
  background-color: var(--background-color);

  /* Shorthand for stretching the content within the cells */
  grid-area: 2 / 2 / 5 / 5;
}

.projects {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  overflow: auto;
  background-color: blue;
}

.projects > div {
  height: 100%;
  border: 3px solid red;
  background-color: white;
}

.news-bar {
  display: flex;
  background-color: aqua;
}
