:root {
  --system-ui: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting up default font, font size and background color */
html {
  font-family: var(--system-ui);
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  background-color: rgb(209, 209, 209);
}

/* Divides the page between the left navbar and the right area */
.overall-flex-container {
  display: flex;
  /* grid-template-columns: auto 1fr; */

  height: 100vh;
}

/* Sets flex for navbar on the left */
.flex-navbar-ver {
  display: flex;
  padding: 30px;
  padding-top: 20px;
  /* This decreases the padding on the right to almost nonexistant when resized */
  padding-right: clamp(10px, 9%, 60px);
  height: 100%;
  width: clamp(200px, 65%, 302.16px);
  min-width: 200px;
  font-weight: 500;
  color: white;

  background-color: rgb(90, 90, 182);
}

/* Remove default link and list styling */
.flex-navbar-ver a,
ul {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

/* Change the default padding bottom set up and give title bigger font size */
.flex-navbar-ver .title {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

/* Making the logo bigger and position it properly*/
.title .logo {
  font-size: 1.8rem;
  bottom: -7px;
}

.flex-navbar-ver li {
  padding-bottom: 15px;
}

/* bottom is needed otherwise they float a bit */
.material-icons {
  position: relative;
  bottom: -3px;
  margin-right: 10px;
}

/* The white nav bar on top */
.flex-navbar-hor {
  display: grid;
  background-color: white;
  height: 8.5rem;
  flex-grow: 1;

  box-shadow: 0px 3px 20px rgb(78, 78, 78);

  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 70% 30%;
}

.dash-body {
  display: grid;
}
